name: Docker Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

env:
  IMAGE_REGISTRY_NAMESPACE: alfresco
  IMAGE_REPOSITORY: alfresco-activemq

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: Alfresco/alfresco-build-tools/.github/actions/pre-commit@v8.35.0

  docker:
    name: activemq ${{ matrix.activemq_base_version }}
    strategy:
      matrix:
        base_image:
          - flavor: rockylinux
            major: 8
        java_major:
          - 17
        jdist:
          - jre
        activemq_base_version:
          - 5.17
          - 5.18
          - 5.19
          - 6.2
    runs-on: ubuntu-latest
    needs: pre-commit
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - id: vars
        name: Compute vars
        env:
          ACTIVEMQ_BASE_VERSION: ${{ matrix.activemq_base_version }}
        run: |
          ACTIVEMQ_VERSION=$(jq -r .activemq_version versions/activemq-${ACTIVEMQ_BASE_VERSION}.json)
          echo "activemq_version=$ACTIVEMQ_VERSION" >> $GITHUB_OUTPUT
          echo "image_created=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

          QUAY_IMAGE_NAME="quay.io/${IMAGE_REGISTRY_NAMESPACE}/${IMAGE_REPOSITORY}"
          DOCKERHUB_IMAGE_NAME="${IMAGE_REGISTRY_NAMESPACE}/${IMAGE_REPOSITORY}"
          TAG_COMMON_METADATA="${{ matrix.jdist }}${{ matrix.java_major }}-${{ matrix.base_image.flavor }}${{ matrix.base_image.major }}"

          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "labels=quay.expires-after=1d" >> $GITHUB_OUTPUT

            IMAGE_TAG_PR="${ACTIVEMQ_VERSION}-${TAG_COMMON_METADATA}-pr-${{ github.event.pull_request.number}}"
            echo "tags=${QUAY_IMAGE_NAME}:${IMAGE_TAG_PR}" >> $GITHUB_OUTPUT
          else
            IMAGE_TAG_SEMVER="${ACTIVEMQ_VERSION}-${TAG_COMMON_METADATA}"
            IMAGE_TAG_MINOR="${ACTIVEMQ_BASE_VERSION}-${TAG_COMMON_METADATA}"

            echo "tags<<EOF" >> $GITHUB_OUTPUT
            echo "${QUAY_IMAGE_NAME}:${IMAGE_TAG_SEMVER}" >> $GITHUB_OUTPUT
            echo "${QUAY_IMAGE_NAME}:${IMAGE_TAG_MINOR}" >> $GITHUB_OUTPUT
            echo "${DOCKERHUB_IMAGE_NAME}:${IMAGE_TAG_SEMVER}" >> $GITHUB_OUTPUT
            echo "${DOCKERHUB_IMAGE_NAME}:${IMAGE_TAG_MINOR}" >> $GITHUB_OUTPUT
            echo "EOF" >> $GITHUB_OUTPUT
          fi

      - name: Login to quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Login to docker.io
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build ActiveMQ image locally
        uses: docker/build-push-action@v6
        with:
          load: true
          target: activemq_image
          build-args: |
            ACTIVEMQ_VERSION=${{ steps.vars.outputs.activemq_version }}
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            local/${{ env.IMAGE_REPOSITORY }}:ci

      - name: Test ActiveMQ image
        run: |
          set -euo pipefail

          EXPECTED_BROKER_NAME='${activemq.brokername}'

          BROKER_NAME="$(docker run --rm --entrypoint /bin/grep \
            local/${{ env.IMAGE_REPOSITORY }}:ci    \
            -Po '(?<=brokerName=")[^"]+' /opt/activemq/conf/activemq.xml || true)"

          if [ "$BROKER_NAME" = "$EXPECTED_BROKER_NAME" ]; then
            echo "✅ brokerName placeholder is correctly set $BROKER_NAME"
          else
            echo "❌ brokerName incorrect: $BROKER_NAME"
            exit 6
          fi

          docker run --rm --entrypoint /bin/grep \
            local/${{ env.IMAGE_REPOSITORY }}:ci  \
            -q '<jaasAuthenticationPlugin configuration="activemq"' \
            /opt/activemq/conf/activemq.xml || {
              echo "❌ JAAS authentication plugin missing"
              exit 7
            }

          echo "✅ JAAS authentication plugin is configured"



      - name: Build multi-arch and push ActiveMQ
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.actor != 'dependabot[bot]' }}
          build-args: |
            ACTIVEMQ_VERSION=${{ steps.vars.outputs.activemq_version }}
            JDIST=${{ matrix.jdist }}
            DISTRIB_NAME=${{ matrix.base_image.flavor }}
            DISTRIB_MAJOR=${{ matrix.base_image.major }}
            JAVA_MAJOR=${{ matrix.java_major }}
            REVISION=${{ github.run_number }}
            CREATED=${{ steps.vars.outputs.image_created }}
          tags: |
            ${{ steps.vars.outputs.tags }}
          labels: |
            ${{ steps.vars.outputs.labels }}
          provenance: false
          target: activemq_image
          platforms: linux/amd64,linux/arm64/v8
