---
name: Bump activemq versions

on:
  push:
    paths:
      - .github/workflows/bumpVersions.yml
      - updatecli.d/**
  workflow_dispatch:
  schedule:
    - cron:  '0 6 * * MON'

jobs:
  updatecli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Updatecli
        uses: Alfresco/alfresco-build-tools/.github/actions/setup-updatecli@v12.4.2

      - name: Updatecli scm cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: /tmp/updatecli
          key: updatecli-v1-${{ hashFiles('updatecli.d/**') }}
          restore-keys: |
            updatecli-v1-

      - name: Run updatecli
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          UPDATECLI_GITHUB_USERNAME: ${{ vars.BOT_GITHUB_USERNAME }}
          UPDATECLI_GITHUB_EMAIL: ${{ vars.BOT_GITHUB_EMAIL }}
        run: updatecli apply
